<div class="divTitulo">
    <h1 class="display-3">Bienvenido a mi aplicación</h1>
</div>
<br>
<h3>¿De qué trata el análisis de sentimientos?</h3>
<p>El análisis de sentimiento implica la construcción de un sistema para recoger y categorizar opiniones sobre un producto.
Conocido también como minería de opinión, puede automatizarse usando machine learning, un tipo de inteligencia
artificial (IA), para extraer el sentimiento del texto.</p>
<h3>Aplicaciones</h3>
<p>Con este sistema se podría identificar el éxito o fracaso de un proyecto dependiendo de la opinión pública que, 
    a través de encuestas o comentarios por la web, el cliente aporta.</p>

<a href="/analyse">
    <button id="buttonEmpezar" type="button" class="btn btn-primary px-3">
        Empezar <i class="fas fa-chevron-right"></i>
    </button>
</a>
