<div class="divTitulo">
    <h1 class="display-4"><b>Camila's Analyzer</b></h1>
</div>
<br>
<div class="container">
    <p class="h2">Análisis de sentimientos</p>

    <blockquote class="blockquote bq-primary">
        <p class="bq-title"><b>¿De qué trata el análisis de sentimientos?</b></p>

        <p>
            Análisis de sentimiento (también conocido como minería de opinión) se refiere al uso de procesamiento de
            lenguaje natural,
            análisis de texto y lingüística computacional para identificar y extraer información subjetiva de los
            recursos.
            Desde el punto de vista de la minería de textos, el análisis de sentimientos es una tarea de clasificación
            masiva de documentos
            de manera automática, en función de la connotación positiva o negativa del lenguaje ocupado en el documento.
        </p>
        <p>
            El análisis de sentimiento implica la construcción de un sistema para recoger y categorizar opiniones sobre
            un producto.
            Conocido también como minería de opinión, puede automatizarse usando machine learning, un tipo de
            inteligencia
            artificial (IA), para extraer el sentimiento del texto.
        </p>

    </blockquote>

    <p class="h2">Diversas aplicaciones</p>
    <p>
        Con este sistema se podría identificar el éxito o fracaso de un proyecto dependiendo de la opinión pública que,
        a través de encuestas o comentarios por la web, el cliente aporta.
    </p>
    <a href="/analyse">
        <button id="buttonEmpezar" type="button" class="btn btn-primary px-3">
            Empezar <i class="fas fa-chevron-right"></i>
        </button>
    </a>

</div>