
<body>

  <div class="contenedor-img">
    <img src="https://d35xtc4gznccds.cloudfront.net/ministry/5303-MinistryWeekdayOfficeAdmin-WebHeader.jpg" class="img-cab" >
</div>

<div class="contenedor-titulo">
    <div class="centrado">Administración</div>
</div>
<br>
  <br>
  <button class="admin-logout" (click)="LogOut()">Log Out  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/OOjs_UI_icon_logOut-ltr.svg/1200px-OOjs_UI_icon_logOut-ltr.svg.png" height="25px"> </button>

<div class="content-father">


    <div class="chart-wrapper" *ngIf="chartReady">
      <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
      </canvas>
    </div>
  
    <br><br><br><br><br>

  <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>

      <br><br><br><br><br>

      <button class="admin-scraper" (click)="btnW()">Climas</button>
      <button class="admin-scraper" (click)="btnV()">Vuelos</button>
      <button class="admin-scraper" (click)="btnT()">Comentarios</button>

  </div>
      
</div>
</body>
