
<body>

  <br>
  <button class="admin-logout" (click)="LogOut()">Log Out</button>

<div class="content-father">


    <div class="chart-wrapper" *ngIf="chartReady">
      <canvas baseChart 
      [data]="pieChartData" 
      [labels]="pieChartLabels" 
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend">
      </canvas>
    </div>
  
    <br><br><br><br><br>

  <div class="chart-wrapper">
        <canvas baseChart 
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>

      <button class="admin-logout" (click)="btnW()">Climas</button>
      <button class="admin-logout" (click)="btnV()">Vuelos</button>
      <button class="admin-logout" (click)="btnT()">Comentarios</button>

  </div>
      
</div>
</body>
