body {
    background-color: papayawhip;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.content-father{
    display: flex;
    margin: auto;
    width: 90%;

}
.chart-wrapper {
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
 
}

.admin-logout {

    font-size: 20px;
    height: 50px;
    display: flex;
    margin-left: 90%;

}