<!-- <textarea [(ngMode)]="miTexto" name="miTexto"></textarea> -->
<div class="divTitulo">
    <h1 class="display-2">Proceso del análisis</h1>
</div>
<div id="cambio">
    <h3>¿Cómo funciona este sistema?</h3>
    <p>Primero analizamos si la frase se refiere a una marca o producto. Luego observamos la intencion del autor: positivo, negativo
        o neutro. Con esto se podría controlar la opinión de los usuarios.</p>
    <h4>Inicio del proceso:</h4>
    <h5>1º paso: Introducir frase.</h5>
    <form class="form-inline">
        <div class="form-group mb-2">
            <textarea type="text" name="inputTexto" [(ngModel)]="miTexto" rows="3" cols="30"></textarea>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="submit" value="Analizar" (click)="analizar()">
        </div>
    </form>
</div>

