<body>

<div class="container">

  <br><br>

  <div class="titulo1">
    ¡Bienvenido a CABD Flights!
  </div>

  <br><br><br>
  
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.adslzone.net/app/uploads-adslzone.net/2019/07/vuelos-930x487.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Encuentra tu vuelo</h5>
            <p class="card-text">Aquí podrás obtener información acerca de tu vuelo a partir de su ID y su fecha, o bien buscándolo en la lista del aeropuerto correspondiente.</p>
            <a routerLink="/buscador" class="btn btn-primary">Buscador vuelos</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="https://img.malv.news/850x478/images/5WJsLbi84weR7ixL48jYFtleR3uPmfTv9HIO8WEV.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Consulta el clima</h5>
            <p class="card-text">Siempre viene bien conocer el clima de tu próximo lugar de destino y puedes saberlo fácilmente aquí.</p>
            <a routerLink="/climas" class="btn btn-primary">Consultar Clima</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="https://www.voicesofyouth.org/sites/default/files/images/2019-04/Image%201.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Opiniones aerolíneas</h5>
            <p class="card-text">Vea las reseñas de otras personas sobre las diferentes aerolíneas disponibles.</p>
            <a routerLink="/tripadvisor" class="btn btn-primary">Ver opiniones</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card">
          <img src="https://blog.krowdy.com/hubfs/Campa%C3%B1a%202%20-%20Febrero%202020/proyecciones-seleccion-personal-recursos-humanos-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personal</h5>
            <p class="card-text">Los administradores pueden acceder para poder añadir nuevos vuelos al sistema, permitiendo a nuestros usuarios mejorar sus búsquedas.</p>
            <a routerLink="/login" class="btn btn-primary">Acceso</a>
          </div>
        </div>
      </div>
      
    </div>  

</div>

</body>
    




