<body>

    <div class ="container">
    
        <h1>The background-repeat Property</h1>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
        <p>Here, the background image is repeated only vertically.</p>
    </div>
        
</body>
    