// body {
//     background-image: url("https://static.vecteezy.com/system/resources/previews/000/100/452/non_2x/vector-clouds-pattern-background.jpg");
//     background-repeat: repeat-y repeat-x;
// }

body {
    background-color:#93d1ff;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.inicio {
    padding-top: 2%;
    
}
h2 {
    padding: 15px;
    text-align: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    height: 160px;
}

.card {
    
    margin: auto;
    margin-bottom: 10%;
    width: 265px;
    height: 370px;
    
}
.card-body {
    display: grid;
    margin: auto;
  
}
.welcome {
    margin-top: 10%;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}
.welcome h2{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}