nav{
    background-color: #3498DB;
    
    border-bottom: 2px solid black;
   
}
a {
    font-weight: 600;
 
}

li {
color: black;

}
.brand-logo {
    font-weight: 100;
    margin-left: 2%;
}

.home {
    margin: auto;
    display: inline;
    left: 50%;
}