<!-- <nav class="navbar navbar-expand navbar-dark">
  <span class="navbar-brand"><b>KnowToFly Project</b></span>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link waves-effect waves-light"><b>Inicio</b></a>
    </li>
    <li class="nav-item" routerLink="/buscador" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link waves-effect waves-light"><b>Buscador</b></a>
    </li>
    <li class="nav-item" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link waves-effect waves-light"><b>Admin</b></a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item" routerLink="/cerrar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link waves-effect waves-light"><b>Cerrar</b></a>
    </li>
  </ul>
</nav> -->

<nav>
  <div class="nav-wrapper">
    <a class="brand-logo" routerLink="/"> <img src="https://image.flaticon.com/icons/png/512/88/88579.png" height="50px"><b style="color: black; font-weight: 500; font-size: 30px;">   CABD Flights</b></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a routerLink="/" class="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><img src="https://image.flaticon.com/icons/png/512/69/69524.png" height="24px"></a>
    
    <ul class="right hide-on-med-and-down">
      <li class="home" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a> </a></li>
      <li routerLink="/buscador" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Buscador de vuelos   <img src="https://i.ya-webdesign.com/images/search-magnifying-glass-png.png" height="24px"> </a></li>
      <li routerLink="/tripadvisor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Opiniones de aerolíneas   <img src="https://image.flaticon.com/icons/png/512/1162/1162344.png" height="25px"> </a></li>
      <li routerLink="/climas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Clima por aeropuerto   <img src="https://icons-for-free.com/iconfiles/png/512/day+forecast+shine+sun+weather+icon-1320183298516188350.png" height="40px"> </a></li>
      <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a>Portal administrador   <img src="https://image.flaticon.com/icons/png/512/63/63440.png" height="24px"> </a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><img src="https://image.flaticon.com/icons/png/512/69/69524.png" height="20px">  Inicio</a></li>
  <li routerLink="/buscador" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><img src="https://i.ya-webdesign.com/images/search-magnifying-glass-png.png" height="21px">  Buscador</a></li>
  <li routerLink="/tripadvisor" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><img src="https://image.flaticon.com/icons/png/512/1162/1162344.png" height="25px">  Opiniones de aerolíneas</a></li>
  <li routerLink="/climas" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><img src="https://icons-for-free.com/iconfiles/png/512/day+forecast+shine+sun+weather+icon-1320183298516188350.png" height="40px">  Climas</a></li>
  <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a><img src="https://image.flaticon.com/icons/png/512/63/63440.png" height="22px">  Admin</a></li>
</ul>

<scriptalt>$('.sidenav').sidenav();</scriptalt>
