.login{
	font-family: 'Montserrat'!important;
	letter-spacing: 1px;
}

.container {
    padding-top: 5%;
}

.textoLogin{
	text-align: center;
}

.contentImage{
	text-align: center;
}

.logo{
	width: 200px;
    height: 180px;
	outline-width: 0 !important;
	cursor: pointer;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.cuadroPrincipal{
	margin: auto;
	width: 40%;
	height: 95%;
	padding: 10px;
	border-right: 3px solid #049494;
	border-radius: 1em;
	background-color: lightcyan;

	-webkit-box-shadow: -24px 24px 25px 0px rgba(4,148,148,1);
	-moz-box-shadow: -24px 24px 25px 0px rgba(4,148,148,1);
	box-shadow: -24px 24px 25px 0px rgba(4,148,148,1);
}

.form-group-button{
	padding-top: 30px;
	text-align: center;
}

.form-group{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 10px;
}

.botonLogin{
	width: 150px;
	height: 50px;
	color: white;
	background-color: #049494;
	cursor: pointer;
	font-family: 'Montserrat' bold;
	letter-spacing: 1px;
	transition-duration: 0.4s;
}

.botonLogin:hover{
	width: 150px;
	height: 50px;
	color: #049494;
	background-color: white;
	cursor: pointer;
	font-family: 'Montserrat' bold;
	letter-spacing: 1px;
	transition-duration: 0.4s;
}

.inputText:not(.is-invalid){
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.24); 
	outline: none;
	border-radius: 5px;
	transition-duration: 0.4s;
	outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.inputText:not(.is-invalid):hover{
	border: none;
	border-bottom: 2px solid rgb(27, 151, 233); 
	outline: none;
	transition-duration: 0.4s;
}

button {

  border-radius: 8px;
  font-weight: 500;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 90%;
  margin: 0 auto 100px;
  border-radius: 20px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
body {
    background-color:#4caf50cf;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.login-label {

  color: black;
  margin: auto;
  display: flex;
  font-size: 15px;
  text-align: left;
  margin-bottom: 5px;
}

.login-span {

  color: red;
  margin: auto;
  display: flex;
  text-align: left;
  font-size: 14px;
  margin-bottom: 8px;
}
