<body>
<div class="login-page">
  <div class="form">
      
    <h3>¡Bienvenido administrador!</h3>
    <br>
    <img src="https://static.vecteezy.com/system/resources/previews/000/440/656/non_2x/vector-users-icon.jpg" height="100" width="100">
    <br><br><br>
    <form class="login-form" [ngFormOptions]="{updateOn:'change'}" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>

        <label class="login-label"><b>Email: </b></label>
        <input placeholder="example@gmail.com" type="text" name="username" class="form-control inputText" [(ngModel)] = "email" #username="ngModel"
        (ngModelChange)="blur('username')" ngModel required (blur)="blur('username')"
        [ngClass]="{ 'is-invalid': ((submitted || blurredUser) && !username.valid) || messageError.length>0 }"/>
        <span class="login-span" *ngIf="(((submitted || blurredUser) && !username.valid))">El email es obligatorio</span>

        <label class="login-label"><b>Contraseña: </b></label>
        <input placeholder="password" type="password" name="password" class="form-control inputText" [(ngModel)] = "pass" #password="ngModel"
        (ngModelChange)="blur('password')" ngModel required (blur)="blur('password')"
        [ngClass]="{ 'is-invalid': ((submitted || blurredPass) && !password.valid) || messageError.length>0 }" />
        <span class="login-span" *ngIf="(((submitted || blurredPass) && !password.valid))">La contraseña es obligatoria </span>

        <br>
        <button (click)="doLogin()">Acceder <img src="https://assets.materialup.com/uploads/53a51966-b17f-4f52-a2d8-e34c38b12d5c/preview" height="30" width="30"> </button>

    </form>
  </div>
</div>
</body>