<body *ngIf="siglas">
    
    <div class="contenedor-img">
        <img src="https://coverfiles.alphacoders.com/796/79690.jpg" class="img-cab" >
    </div>
    
    <div class="contenedor-titulo">
        <div class="centrado">Consultar Climas</div>
    </div>
    <br>

    <form class="container" >
        <div class="form-group">
            <br>
            <label>Seleccionar aeropuerto:</label>
            <select class="custom-select select" name="selectedLevel" [(ngModel)]="selectedLevel" default="Choose Here">
                Choose Here
                <option *ngFor="let i of siglas" value="{{i.id}}">
                    {{i.nombre}} ({{i.siglas}})
                </option>
            </select>
            <small class="form-text text-muted">Solo se mostrará el clima de hoy.</small>
            <br>
            <input type="submit" value="Buscar" (click)="listaClimas()" class="btn-buscar">
            
        </div>
       
        <br>
        <table class = "table" *ngIf="lista">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col"class="th-header">Hora</th>
                    <th scope="col"class="th-header">Previsión</th>
                    <th scope="col"class="th-header">Temp (ºC)</th>
                    <th scope="col"class="th-header">Lluvia (m.m)</th>
                    <th scope="col"class="th-header">Nubes (%)</th>
                    <th scope="col"class="th-header">Viento (km/h)</th>
                    <th scope="col"class="th-header">Rafagas (km/h)</th>
                    <th scope="col"class="th-header">Direccion</th>
                    <th scope="col"class="th-header">Humedad (%)</th>
                    <th scope="col"class="th-header">Presión (mb)</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of arrayClima">
                    <th>{{a.hora}}</th>
                    <th>{{a.prevision}}</th>
                    <th>{{a.temperatura}}</th>
                    <th>{{a.lluvia}}</th>
                    <th>{{a.nubes}}</th>
                    <th>{{a.viento}}</th>
                    <th>{{a.rafagas}}</th>
                    <th>{{a.direccion}}</th>
                    <th>{{a.humedad}}</th>
                    <th>{{a.presion}}</th>
                </tr>
            </tbody>
            
        </table>
       
    </form>
    <br>

</body>
