
.container{
    background-color:white;
    width: 90%;
    display: block; 
    position: relative;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.contenedor-titulo {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 70px;
    background-color: #3F51B5;
}

label {

    color: #34495E;
    font-size: 15px;
    font-weight: 400;
}


.img-cab {

    width: 100%;
    height: 350px;
}

.centrado {

    font-weight: bold;
    font-family: Verdana;
    color: whitesmoke;
    font-size: 230%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-encontrado img{
    width: 45%;
    // height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color:#F2F4F4;

}
label {
    font-size: 1em;
}

th {
    
    border-radius: 1px;
    margin: auto;
    text-align: justify;
    height: auto;
}

.th-header {

    margin: auto;
    text-align: justify;
   
}

.th-body {
    text-align: center;
}

.btn-buscar {
    
    font-size: 15px;
    border-radius: 5px;
}