.btn {
    margin: auto;
    display: block;
    font-size: 20px;
}

.table {
    width: 50%;
    display: block;
    margin: auto;
}

.superior {
    top: 0%;
    width: 66%;
    right: 0%;
    text-align: right;
    margin-right: 0%;
}

.volver {
  
    margin-left: 20%;
}

.elem {

    font-weight: bold;
    color: blue;
    font-size: 20px;
}