body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
h2{
    padding: 15px;
}
.container{
    background-color:white;
    padding: 15px 10px 15px 10px;
}
hr.rounded {
    border-top: 8px solid #9cbfff;
    border-radius: 5px;
}
#myTab{
    padding-top: 25px;
}
#myTabContent div {
    padding: 15px;
}
.nav-link{
    color: grey;
}