<div class="body" *ngIf = "vuelo">
    <h2>Buscador de vuelos</h2>
    <form class="container" >
        <div class="form-group">
            <label>Numero de vuelo</label>
            <input type="text" name="inputVuelo" [(ngModel)]="inputVuelo" placeholder="EJ:IB6585">
            <input type="submit" value="Buscar" (click)="buscarVuelo()">
        </div>
        <hr class="rounded">
        <div class="form-group">
            <label>Seleccionar aeropuerto:</label>
            <select class="custom-select select" name="selectedLevel" [(ngModel)]="selectedLevel">
                <option value="0" selected disabled>Choose here</option>
                <option *ngFor="let i of siglas" value="{{i.id}}">
                    {{i.nombre}} ({{i.siglas}})
                </option>
            </select>
            <input type="submit" value="Buscar" (click)="listaAeropuerto()">
        </div>
       
        <table class = "table" *ngIf="lista">
            <thead class = "thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">ID vuelo</th>
                    <th scope="col">Destino</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let v of arrayVuelo">
                    <th>{{v.SiglasOrigen}}</th>
                    <th>{{v.IdVuelo}}</th>
                    <th>{{v.Destino}}</th>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="detalles-vuelo container" *ngIf = "detalles">
    <div *ngFor="let e of arrayEspecifico">
        <h3>
            {{e.IdVuelo}}
        </h3>        
        <ul>
            <li>Aerolinea: {{e.Aerolinea}}</li>
            <li>Estado del vuelo: {{e.Estado1}} - {{e.Estado2}}</li>
        </ul>

    </div>
    <div data-role="accordion" data-material="true"*ngFor="let e of arrayEspecifico">
        <div class="frame active">
            <div class="heading">Origen</div>
            <div class="content">
                <div class="p-2">
                    <ul>
                        <li> País origen: ({{e.SiglasOrigen}}) {{e.Origen}}</li>
                        <li> Hora programada: {{e.HoraProgOrigen}}</li>
                        <li> ... </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="frame">
            <div class="heading">Destino</div>
            <div class="content">
                <div class="p-2">
                    <ul>
                        <li> País destino: ({{e.SiglasDestino}}) {{e.Destino}}</li>
                        <li> Hora programada: {{e.HoraProgDestino}}</li>
                        <li> ... </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
