
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $proyectoAngular-primary: mat-palette($mat-indigo);
// $proyectoAngular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $proyectoAngular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $proyectoAngular-theme: mat-light-theme($proyectoAngular-primary, $proyectoAngular-accent, $proyectoAngular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($proyectoAngular-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/100/452/non_2x/vector-clouds-pattern-background.jpg");
    background-repeat: repeat-y repeat-x;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
