<!-- <textarea [(ngMode)]="miTexto" name="miTexto"></textarea> -->
<div class="divTitulo">
    <h1 class="display-4"><b>Análisis de texto</b></h1>
</div>
<div id="cambio" class="container" *ngIf = "portada">
    <p class="h2"><b>¿Cómo funciona este sistema?</b></p>
    <p>
        Primero analizamos si la frase se refiere a una marca o producto. Luego observamos la intencion del autor:
        positivo, negativo
        o neutro. Con esto se podría controlar la opinión de los usuarios.
    </p>
    
    <p class="h4">Texto a traducir:</p>
    
    <form class="form-inline">
        <div class="form-group mb-2">
            <textarea type="text" name="inputTexto" [(ngModel)]="miTexto" rows="5" cols="50"></textarea>
        </div>
    </form>
    
    <div class="form-group mx-sm-4 mb-1">
        <input type="submit" value="Analizar" (click)="analizar()">
    </div>
    <a href="">
        <button id="buttonVolver" type="button" class="btn btn-primary px-3">
            Volver <i class="fas fa-chevron-right"></i>
        </button>
    </a>
</div>
<div id="resultado" class="container" *ngIf="resultado">
    <h4>Texto Introducido:</h4>
    <label for="textoIntroducido">{{miTexto}}</label>
    
    <div *ngIf ="en">
        <h4> Traducción del texto introducido: </h4><label>{{texto}}</label>
    </div>
    
    <h4>Análisis del texto :</h4>
    <label for="conclusion">{{conclusion}}</label>

    <div id="accordion">
        <div id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                    Información adicional <i class="fas fa-plus-circle"></i>
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" >
            <div>
                <ul>
                    <li>
                        Compound: <label for="compound">{{compound}}</label>
                    </li>
                    <li>
                        Porcentaje:
                        <ul>
                            <li>
                                Positivo(%): <label for="porPositivo">{{pos_por}}</label>
                            </li>
                            <li>
                                Negativo(%): <label for="porNegativo">{{neg_por}}</label>
                            </li>
                            <li>
                                Neutral(%): <label for="porNeutral">{{neu_por}}</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <a routerLink="/analyse">
        <button id="buttonEmpezar" type="button" class="btn btn-primary px-3">
            Volver <i class="fas fa-chevron-right"></i>
        </button>
    </a>
</div>
   
