footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3498DB;
    // background: linear-gradient(90deg,  rgba(116,255,216,1) 0%,rgba(100,149,237,1) 100%);
    display: block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
